body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: #f4f4f4;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

#projects {
  max-width: 1100px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 40px;
  justify-items: center;
}

#projects h2,
.project h3,
.project h4 {
  grid-column: 1 / -1;  /* span from first to last column */
  text-align: left;     /* optional: align text to left */
  margin-bottom: 20px;  /* spacing below heading */
}


section {
  margin-bottom: 60px;
}

#about {
  display: flex;
  align-items: center;
  gap: 30px;
}


#about img {
  width: 200px;
  border-radius: 100px;
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.project {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.project img {
  width: 100%;
  max-width: 700px;

  height: auto;

  display: block;
  margin: 0 auto 15px auto;

  border: 1px solid #ccc;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  margin-bottom: 20px;
  width: 100%;
}

.project-images img {
  width: 100%;
  height: auto;

  border: 1px solid #ccc;
}


.project a {
  font-weight: bold;
  color: #005fa3;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}

/* Lightbox overlay */
#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Enlarged image */
#lightbox-overlay img {
  max-width: 90%;
  max-height: 90%;
  border: 3px solid #fff;
  border-radius: 5px;
}
